.header .shrink{
    background: #080808;
}
.logo{
	width: 40%;
    float: left;
    padding-top: 3px;
    padding-bottom: 5px;
}

.logo-img {
	width: 170px;
    float: left;
    height: 50px;
    padding: 5px;
}
.component{
	width: 60%;
    float: left;
    margin-top: 20px;
}
.component ul{
	float: right;
}
.component ul li{
	list-style: none;
    display: inline;
    padding: 16px 16px;
}
.component a{
	color: white; 
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    /* text-transform: uppercase; */
}

 .act {
    background: white;
    border-radius: 12px;
 }
.color{
    color: #b0362b;
  }

.profile {
    width: auto;
    float: right;
}
.profile ul {
    position: relative;
    width: 100%;
}
.profile ul li {
    display: inline-block;
    width: 100%;
    /* background: #ededed; */
}
.profile li a {
    color: rgb(243, 235, 235);
    text-decoration: none;
    font-size: 13px;
    display: block;
    padding: 10px 12px;
    font-weight: bold;
    cursor: pointer;
}
.profile li a img {
    height: 25px;
    margin-right: 6px;
}
.profile li ul {
    display: none;
    border: 1px solid #d7d7d7;
    z-index: 12;
    position: absolute;
    background: #262626;
    top: 40px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.22);
    width: 190px;
    right: 0;
}

.profile li li a:hover {
    color: rgb(108, 163, 52);
    background: #fff;
}


.profile li:hover ul {
    display: block;
}