<div class="header clearfix">
  <div class="head-wrapper clearfix">
    <div class="logo">
      <a class="" href="#page-top">
        <img class="logo-img" src="/../../assets/img/logo_3.png" alt="Logo">
      </a>
    </div>
    <div class="component">
        <ul class="">
          <li class="">
            <a class="" href="#about">About</a>
          </li>
          <li class="">
            <a class="" href="#services">Services</a>
          </li>
          <li class="">
            <a class="" href="#portfolio">Portfolio</a>
          </li>
          <li class="">
            <a class="" href="#contact">Contact</a>
          </li>
          <li class="">
            <a class="" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="">
            <a class="" routerLink="/register" routerLinkActive="active">Registration</a>
          </li>
        </ul>
      </div>
  </div>
</div>

