<div class="header clearfix">
  <div class="head-wrapper clearfix">
    <div class="logo">
      <a class="" href="#page-top">
        <img class="logo-img" src="/../../assets/img/logo.png" alt="Logo">
      </a>
    </div>
    <div class="component">
        <ul class="">
          <li class="">
            <a class="" href="#courses">Course</a>
          </li>
          <li class="">
            <a class="" href="#codplay">Code Playground</a>
          </li>
          <li class="">
            <a class="" href="#discuss">Discuss</a>
          </li>
          <li class="">
            <a class="" href="#blog">Blog</a>
          </li>
          <li class="">
            <a class="" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="">
            <a class="" routerLink="/register" routerLinkActive="active">Enroll Here</a>
          </li>
        </ul>
      </div>
  </div>
</div>

