.header .shrink{
    background: #080808;
}
.logo{
	width: 40%;
    float: left;
    padding-top: 3px;
    padding-bottom: 5px;
}

.logo-img {
	width: 170px;
    float: left;
    height: 50px;
    padding: 5px;
}
.component{
	width: 60%;
    float: left;
    margin-top: 20px;
}
.component ul{
	float: right;
}
.component ul li{
	list-style: none;
    display: inline;
    padding: 16px 16px;
}
.component a{
	color: white; 
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    /* text-transform: uppercase; */
}

 .act {
    background: white;
    border-radius: 12px;
 }
  .color{
    color: #b0362b;
  }