<div class="header_color">
    <app-header [header]="headertype"></app-header>
</div>
<div class="responsive tophero bottomhero no-js smooth-scroll-enabled" data-menu-nav=".nav-help" data-submenu-nav=".nav-tutorials">
    <div class="responsive tophero bottomhero no-js smooth-scroll-enabled" data-menu-nav=".nav-help" data-submenu-nav=".nav-tutorials">
        <div class="revealer">
            <div class="slider">
                <!-- .tsc-header-wrapper -->
                <div class="content-wrapper">
                    <div id="wrapper">
                        <div class="content">
                            <!-- ~~ Center  -->
                            <div class="content-left">
                                <section>
                                    <div id="wistia-hero-37884" class="hero hero-solutions replacement-container">
                                        <div id="replacement-content-37884" class="hide" data-video-api="wistia">
                                            <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                                                <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                    <div class="wistia_embed wistia_async_a38vx5vv2k videoFoam=true" style="height:100%;width:100%">&nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="img-wrapper img-wrapper-center-middle" style="background-image:url('/assets/img/main-website-frontview1.png');">

                                        </div> -->
                                        <div class="video-star-hero">
                                            <a class="replacement-video-trigger video-trigger" data-video-content="replacement-content-37884" data-size="" href="#">
                                                <span class="play-button"></span>
                                            </a>
                                        </div>
                                        <div class="hero-table">
                                            <div class="bottom-table-text">
                                                <div class="text-center">
                                                    <span class="play-button"></span>
                                                </div>
                                                <div class="headline-wrapper">
                                                    <h1>How to learn from Training Video</h1>
                                                </div>

                                                <div class="copy-wrapper">
                                                    <p>Learn how easy it can be to create an office training video with your
                                                        smartphone. We take you through the process of picking a topic, preparing
                                                        a storyboard and script, staging your scene, recording, and then
                                                        editing in Camtasia.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <div class="navigation-bar-wrapper navigation-bar-camtasia">
                                    <div class="navigation-bar first-primary">
                                        <ul id="menu">
                                            <li *ngFor="let item of imageUrlObject">
                                                <mat-card class="example-card" (click)="openDialog(item)">
                                                    <mat-card-header>
                                                        <div mat-card-avatar class="example-header-image">
                                                        </div>
                                                        <mat-card-title>Gst Videos</mat-card-title>
                                                        <mat-card-subtitle>Training</mat-card-subtitle>
                                                    </mat-card-header>
                                                    <img mat-card-image src="{{item.imageSrc}}">
                                                    <div *ngIf="item.showFlag">
                                                        <mat-card-content>
                                                            <mat-icon class="icon_mod">done</mat-icon>
                                                        </mat-card-content>
                                                    </div>
                                                </mat-card>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sticky-nav-bar-spacer"></div>
                                <div class="region two-column primary-grey0" data-id="37269">

                                    <div id="region-switcher" class="tsc-tab camtasia-theme primary-grey3" data-tabtitles="Getting Started, Reach Higher, Mobile Apps, More Help"
                                        data-id="34356">
                                        <section class="region five-column primary-grey3" data-id="34331">


                                            <div class="section-header ">
                                                <p class="base1">Start Here</p>

                                                <p>Save, edit, and file a GST with this series of essential skills and techniques.
                                                    Or, use offline utility for saving directly to portal.</p>
                                            </div>
                                        </section>
                                        <!-- .region -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>