<div class="header_color">
    <app-header [header]="headertype"></app-header>
</div>
<div class="responsive tophero bottomhero no-js smooth-scroll-enabled" data-menu-nav=".nav-help" data-submenu-nav=".nav-tutorials">
    <div class="responsive tophero bottomhero no-js smooth-scroll-enabled" data-menu-nav=".nav-help" data-submenu-nav=".nav-tutorials">
        <div class="revealer">
            <!-- .tsc-header-wrapper -->

            <!-- ~~ Center  -->
            <section class="innerBanner">
                <div class="container">
                    <div class="row">
                        <h3>Video Learning</h3>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="mainBox">
                            <div class="moduleBox" *ngIf="firstShowOption">
                                <div class="col-xs-12 col-md-3 col-sm-3" *ngFor="let section of sectionName">
                                    <div class="cards">
                                        <a href="javascript:void(0)" (click)="getDataModule(section.sectionid)"> {{section.name}}</a>
                                        <h3>Module <i class="material-icons">videocam</i></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="moduleBox" *ngIf="selectedOption">
                                <div>
                                    <a href="javascript:void(0)" (click)="backTo()">Back to Module</a>
                                    <a mat-mini-fab routerLink="/exam" *ngIf="allWatch">Take Test {{testmessage}}</a>
                                    <div *ngFor="let storeArr of storeArrayFull">
                                        <ul id="menu">
                                            <li *ngFor="let item of storeArr">
                                                <mat-card class="example-card" (click)="openDialog(item.video,item,item.moduleid,item.key)">
                                                    <mat-card-header>
                                                        <div mat-card-avatar class="example-header-image">
                                                        </div>
                                                        <mat-card-title>Gst Videos</mat-card-title>
                                                        <mat-card-subtitle>Training</mat-card-subtitle>
                                                    </mat-card-header>
                                                    <img mat-card-image src="assets/img/gstTraining.png">
                                                    <div *ngIf="item.video.status != 'notwatched'">
                                                        <mat-card-content>
                                                            <mat-icon class="icon_mod">done</mat-icon>
                                                        </mat-card-content>
                                                    </div>
                                                </mat-card>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- <div class="section">
                                        <h3 class="title"> <a href="javascript:void(0)" (click)="getDataModule('gst')">gst </a> </h3>
                                       </div> -->
                </div>
            </section>


            <div class="sticky-nav-bar-spacer">

            </div>

        </div>
    </div>
</div>