<!-- Foundation PageID: 37268 -->
<!-- <ol>
        <li>
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="What's your name?">
          </mat-form-field>
        </li>
        <li>
          <button mat-raised-button (click)="openDialog()">Pick one</button>
        </li>
        <li *ngIf="animal">
          You chose: <i>{{animal}}</i>
        </li>
    </ol> -->
<div class="responsive tophero bottomhero no-js smooth-scroll-enabled" data-menu-nav=".nav-help"
     data-submenu-nav=".nav-tutorials">
    <div class="revealer">
        <div class="slider">
            <div class="tsc-header-wrapper">
                <header class="tsc-header no-bullets">

                    <div class="logo-wrapper">
                        <a class="logo" href="/">
                            <object class="svg-logo" type="image/png"
                                    data="/assets/img/logo.png" tabindex="-1">
                                <img class="black-logo" src="/assets/img/logo.png"
                                     alt="EduPark &amp;reg;">
                            </object>
                        </a>
                    </div>
                    <div class="menu-trigger-wrapper">
                        <button type="button" class="menu-trigger" title="Menu"><span>Menu</span></button>
                    </div>
                    <div class="global-nav-wrapper">
                        <div class="mobile-logo-wrapper"><a class="mobile-logo" href="/">
                            <object class="svg-logo" type="image/svg+xml"
                                    data="https://assets.techsmith.com/Images/interface/logo.svg" tabindex="-1">
                                <img src="https://assets.techsmith.com/Images/interface/logo.png"
                                     alt="TechSmith &amp;reg;">
                            </object>
                        </a>
                        </div>
                        <!--<nav class="global-nav" data-section-menu="">
                            <ul class="global-nav-menu">
                                <li class="level-1 nav-products">
                                    <a href="https://www.techsmith.com/products.html">Products</a>
                                    <div class="detailed-menu-wrapper">
                                        <ul class="detailed-menu columns-3">
                                            <li class="level-2 nav-snagit">
                                                <div class="product-wrapper">
                                                    <a class="product"
                                                       href="https://www.techsmith.com/screen-capture.html">
                                                        <dl>
                                                            <dt><span class="product-name">Snagit</span>
                                                                <i class="platform-icon win"></i><i
                                                                        class="platform-icon mac"></i>
                                                            </dt>
                                                            <dd>Screen Capture &amp; Screen Recorder</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="/download/snagit/" class="promotion">Free Trial</a><a
                                                        href="http://shop.techsmith.com/store/techsm/pd/productID.289200200"
                                                        class="promotion">Buy</a>
                                                </div>
                                            </li>
                                            <li class="level-2 nav-camtasia">
                                                <div class="product-wrapper">
                                                    <a class="product"
                                                       href="https://www.techsmith.com/video-editor.html">
                                                        <dl>
                                                            <dt><span class="product-name">Camtasia</span>
                                                                <i class="platform-icon win"></i><i
                                                                        class="platform-icon mac"></i>
                                                            </dt>
                                                            <dd>Video Editor</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="/download/camtasia/" class="promotion">Free Trial</a><a
                                                        href="http://shop.techsmith.com/store/techsm/pd/productID.289432000"
                                                        class="promotion">Buy</a>
                                                </div>
                                            </li>
                                            <li class="level-2 nav-httpshoptechsmithcomstoretechsmenuspdproductid289729600">
                                                <div class="product-wrapper">
                                                    <a class="product"
                                                       href="http://shop.techsmith.com/store/techsm/en_US/pd/productID.289729600">
                                                        <dl>
                                                            <dt><span class="product-name">Snagit/Camtasia Bundle</span>
                                                                <i class="platform-icon win"></i><i
                                                                        class="platform-icon mac"></i>
                                                            </dt>
                                                            <dd>Buy Together and Save</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="http://shop.techsmith.com/store/techsm/en_US/pd/productID.289729600"
                                                       class="promotion">Buy</a>
                                                </div>
                                            </li>
                                            <li class="level-2 nav-techsmith-relay">
                                                <div class="product-wrapper">
                                                    <a class="product"
                                                       href="https://www.techsmith.com/techsmith-relay.html">
                                                        <dl>
                                                            <dt><span class="product-name">TechSmith Relay</span>
                                                                <i class="platform-icon win"></i><i
                                                                        class="platform-icon mac"></i>
                                                            </dt>
                                                            <dd>Lecture Capture Solution</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="https://www.techsmith.com/techsmith-relay.html"
                                                       class="promotion">Learn More</a>
                                                </div>
                                            </li>
                                            <li class="level-2 nav-screencastcom">
                                                <div class="product-wrapper">
                                                    <a class="product"
                                                       href="https://www.techsmith.com/screencastcom.html">
                                                        <dl>
                                                            <dt><span class="product-name">Screencast.com</span>
                                                                <i class="platform-icon win"></i><i
                                                                        class="platform-icon mac"></i>
                                                            </dt>
                                                            <dd>Video &amp; Content Hosting</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="https://www.techsmith.com/screencastcom.html"
                                                       class="promotion">Learn More</a>
                                                </div>
                                            </li>
                                            <li class="level-2 nav-morae">
                                                <div class="product-wrapper">
                                                    <a class="product" href="https://www.techsmith.com/morae.html">
                                                        <dl>
                                                            <dt><span class="product-name">Morae</span>
                                                                <i class="platform-icon win"></i>
                                                            </dt>
                                                            <dd>User Experience &amp; Market Research</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="https://www.techsmith.com/morae.html" class="promotion">Learn
                                                        More</a><a
                                                        href="http://shop.techsmith.com/store/techsm/pd/productID.289556700"
                                                        class="promotion">Buy</a>
                                                </div>
                                            </li>
                                            <li class="level-2 supplementary nav-products">
                                                <div class="product-wrapper">
                                                    <a class="supplementary-article"
                                                       href="https://www.techsmith.com/products.html">
                                                        <dl>
                                                            <dt><span
                                                                    class="product-name">All Products &amp; Downloads ›</span>

                                                            </dt>
                                                            <dd></dd>
                                                        </dl>
                                                    </a>

                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="level-1 nav-help">
                                    <a href="https://www.techsmith.com/help.html">Help</a>
                                    <div class="simple-menu-wrapper">
                                        <ul class="simple-menu">
                                            <li class="level-2 nav-lost-software-key"><a href="/support/lostkey.asp">Find
                                                Software Key</a></li>
                                            <li class="level-2 nav-tutorials"><a
                                                    href="https://www.techsmith.com/tutorial.html">Tutorials</a></li>
                                            <li class="level-2 nav-tech-support"><a
                                                    href="https://support.techsmith.com">Support</a>
                                            </li>
                                            <li class="level-2 nav-community-support"><a
                                                    href="https://feedback.techsmith.com/techsmith">Community</a></li>
                                            <li class="level-2 nav-software-registration"><a
                                                    href="https://www.techsmith.com/registration.html">Product
                                                Registration</a></li>
                                            <li class="level-2 summary-item"><a
                                                    href="https://www.techsmith.com/help.html">All
                                                Help Options</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="level-1 nav-company">
                                    <a href="https://www.techsmith.com/company.html">Company</a>
                                    <div class="simple-menu-wrapper">
                                        <ul class="simple-menu">
                                            <li class="level-2 nav-about"><a
                                                    href="https://www.techsmith.com/about.html">About</a>
                                            </li>
                                            <li class="level-2 nav-contact"><a
                                                    href="https://www.techsmith.com/contact.html">Contact</a></li>
                                            <li class="level-2 nav-careers"><a href="/careers/">Careers</a></li>
                                            <li class="level-2 nav-partner-programs"><a
                                                    href="https://www.techsmith.com/partner-information.html">Partner
                                                Programs</a></li>
                                            <li class="level-2 nav-press-room"><a
                                                    href="https://www.techsmith.com/press.html">Press Room</a></li>
                                            <li class="level-2 nav-customer-stories"><a
                                                    href="https://www.techsmith.com/customer-stories.html">Customer
                                                Stories</a></li>
                                            <li class="level-2 nav-emailpreferences"><a href="/emailpreferences">Email
                                                Subscription</a></li>
                                            <li class="level-2 summary-item"><a
                                                    href="https://www.techsmith.com/company.html">All Company
                                                Information</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="level-1 nav-techsmith-blog">
                                    <a href="https://www.techsmith.com/blog/">Blog</a>
                                    <div class="simple-menu-wrapper">
                                        <ul class="simple-menu">
                                            <li class="level-2 nav-techsmith-blog"><a
                                                    href="https://www.techsmith.com/blog/">TechSmith Blog</a></li>

                                        </ul>
                                    </div>
                                </li>
                                <li class="level-1 nav-store">
                                    <a href="http://shop.techsmith.com/">Store</a>
                                    <div class="simple-menu-wrapper">
                                        <ul class="simple-menu">
                                            <li class="level-2 nav-store"><a href="http://shop.techsmith.com/">TechSmith
                                                Store</a></li>
                                            <li class="level-2 nav-"><a
                                                    href="http://shop.techsmith.com/store/techsm/help">Online
                                                Store FAQ</a></li>
                                            <li class="level-2 summary-item"><a href="http://shop.techsmith.com/">All
                                                Store
                                                Options</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>&lt;!&ndash; .global-nav &ndash;&gt;-->
                        <ul class="supplemental-buttons">
                            <li><a class="global-nav-link contact-us" href="https://www.techsmith.com/contact.html"
                                   title="Contact Us"><i
                                    class="navmenu-icon glyph-nav-phone"></i><span>Contact Us</span></a></li>
                            <li class="tsc-dropdown-menu-wrapper">
                                <a href="#" class="global-nav-link tsc-dropdown-menu-trigger">
                                    <i class="navmenu-icon glyph-nav-world"></i><span>U.S. English</span>&nbsp;<i
                                        class="glyph-chevron-down glyph-small"></i>
                                </a>
                                <div class="tsc-dropdown-menu-positioner">
                                    <ul class="tsc-dropdown-menu tsc-language">
                                        <li><a href="https://www.techsmith.com" class="selected" tabindex="-1">U.S.
                                            English</a></li>
                                        <li><a href="https://www.techsmith.de" class="" tabindex="0">Deutsch</a></li>
                                        <li><a href="https://www.techsmith.fr" class="" tabindex="0">Français</a></li>
                                        <li><a href="https://www.techsmith.co.jp" class="" tabindex="0">日本語</a></li>
                                    </ul>
                                </div>
                            </li>

                           <!-- <li>
                                <a class="global-nav-link cart-link"
                                   href="https://shop.techsmith.com/store?Action=cart&amp;SiteID=techsm"
                                   id="shopping-cart-link" title="Cart">
                                    <i class="navmenu-icon glyph-nav-user"></i>
                                    <span class="cart-count">0</span>
                                    <span>Items</span>
                                    <div class="bubble-icon hide">
                                        <div class="cart-count">0</div>
                                    </div>
                                </a>
                            </li>-->

                            <li class="mobile-nav-item hide">
                                <a class="global-nav-link account-link"
                                   href="https://myaccount.techsmith.com/MyAccount/Overview">My Account</a>
                            </li>
                            <li class="tsc-dropdown-menu-wrapper profile no-auth">
                                <a href="#" class="btn signin-link global-nav-link tsc-dropdown-menu-trigger">
                                    <div class="identity">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA="
                                             id="profileIconImageUrl" alt="Profile Image" class="img-circle" width="32"
                                             height="32">
                                    </div>
                                    <div class="sign-in-status" data-sign-out-text="Sign Out"
                                         data-sign-in-text="Sign Out">
                                        Sign Out
                                    </div>
                                    <i class="glyph-chevron-down glyph-small"></i>
                                </a>
                                <div class="tsc-dropdown-menu-positioner">
                                    <div class="tsc-dropdown-menu arrow_drop">
                                        <div class="identity-top">
                                            <a href="https://myaccount.techsmith.com/MyAccount/Overview">
                                                <div class="identity">
                                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA="
                                                         id="profileImageUrl" alt="Profile Image" class="img-circle"
                                                         width="72" height="72">
                                                </div>
                                                <div class="identity-container">
                                                    <div id="displayName" class="profile-name"></div>
                                                    <div id="displayEmail" class="profile-email"></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="identity-bottom">
                                            <a class="btn btn-tertiary"
                                               href="https://myaccount.techsmith.com/MyAccount/Overview" id="Account">My
                                                Account</a>
                                            <a class="btn btn-tertiary sign-out-link" href="#" id="signout">Sign Out</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul><!-- .supplemental-buttons -->
                    </div><!-- .global-nav-wrapper -->

                    <form class="search">
                        <div class="search-input-wrapper">
                            <label for="main_google_query">Search EduPark.com</label>
                            <input type="search" class="search-input" name="q" id="main_google_query"
                                   placeholder="Search Edupark.com"/>
                            <button type="submit" class="search-submit"><span>Search Educational Portal</span></button>
                        </div>
                        <button type="button" class="search-cancel"><span>Cancel</span></button>
                    </form>
                </header><!-- .tsc-header -->

            </div><!-- .tsc-header-wrapper -->

            <div class="content-wrapper">


                <div id="wrapper">

                    <div class="content">


                        <!-- ~~ Center  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        <div class="content-left">


                            <section>

                                <div id="wistia-hero-37884" class="hero hero-solutions replacement-container">
                                    <div id="replacement-content-37884" class="hide" data-video-api="wistia">
                                        <div class="wistia_responsive_padding"
                                             style="padding:56.25% 0 0 0;position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                 style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <div class="wistia_embed wistia_async_a38vx5vv2k videoFoam=true"
                                                     style="height:100%;width:100%">&nbsp;
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-wrapper img-wrapper-center-middle"
                                         style="background-image:url('/assets/img/main-website-frontview1.png');">

                                    </div>
                                    <div class="video-star-hero">
                                        <a class="replacement-video-trigger video-trigger"
                                           data-video-content="replacement-content-37884" data-size="" href="#"><span
                                                class="play-button"></span></a>
                                    </div>
                                    <div class="hero-table">
                                        <div class="bottom-table-text">
                                            <div class="text-center">
                                                <span class="play-button"></span>
                                            </div>
                                            <div class="headline-wrapper"><h1>How to learn from Training Video</h1></div>

                                            <div class="copy-wrapper"><p>Learn how easy it can be to create an office
                                                training video with your smartphone. We take you through the process of
                                                picking a topic, preparing a storyboard and script, staging your scene,
                                                recording, and then editing in Camtasia.</p></div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <div class="navigation-bar-wrapper navigation-bar-camtasia">
                                <div class="navigation-bar first-primary">
                                    <div class="logo">
                                        <a href="https://www.techsmith.com/tutorial-camtasia.html">
                                            <img src="/assets/img/logo.png"
                                                 class="block-logo" alt="Educational Tutorials"/>

                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="sticky-nav-bar-spacer"></div>
                         
                            <div class="region two-column primary-grey0" data-id="37269">


                                <div class="column-block-wrapper vertical-top zzz">
                                    <div class="column-block celebrity-v2-wrapper centered-style-wrapper">


                                        <section class="celebrity-v2 centered-style">


                                            <div class="inner-wrapper text-left">
                                                <div class="headline-wrapper"><h3>Key Takeaways</h3></div>

                                                <div class="copy-wrapper"><p>0:11 - Introduction, what is GST.</p>

                                                    <p>0:35 - What is GSP.</p>

                                                    <p>1:06 - How to register on Filegstnow.</p>

                                                    <p>2:03 - How to login on Filegstnow.</p>

                                                    <p>3:44 - How to do live search.</p></div>

                                                <div class="link-wrapper">
                                                    <ul class="no-bullets">
                                                    </ul>
                                                </div>

                                                <div class="link-wrapper">

                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="column-block celebrity-v2-wrapper image-left-wrapper">
                                    </div>

                                </div><!-- .column-block-wrapper -->


                            </div><!-- .region -->
                            <div id="region-switcher" class="tsc-tab camtasia-theme primary-grey3"
                                 data-tabtitles="Getting Started, Reach Higher, Mobile Apps, More Help" data-id="34356">
                                <section class="region five-column primary-grey3" data-id="34331">


                                    <div class="section-header ">
                                        <p class="base1">Start Here</p>

                                        <p>Save, edit, and file a GST with this series of essential skills and
                                            techniques. Or, use offline utility for saving directly to portal.</p>
                                    </div>
                                    <li *ngFor="let item of imageUrlObject">
                                            <button mat-raised-button (click)="openDialog(item)">{{item.title}}</button>
                                          
                                          
                                           
                                    </li>
                                    
                                    <!-- <div class="column-block-wrapper vertical-top zzz">
                                        <div class="column-block hotshot-wrapper content-popup-wrapper">
                                            <section class="hotshot content-popup  camtasia-theme">
                                                <a href="https://www.techsmith.com/tutorial-camtasia-record-edit-share.html" class="hotshot-link">
                                                    <div class="image-wrapper">
                                                        <img src="https://assets.techsmith.com/Images/content/ua-tutorials-camtasia-9-3/hotshot-rec1x1.png"
                                                             alt="Camtasia record button" title=""/>
                                                    </div>
                                                    <div class="inner-wrapper">
                                                        <div class="headline-wrapper"><p><span
                                                                style="font-size:14px"><strong>GST, Filegstnow</strong></span>
                                                        </p>
                                                            <p><span style="font-size:12px">VIDEO 1 of 5 - (4:45)</span>
                                                            </p>
                                                        </div>
                                                        <div class="copy-wrapper"><p><span style="font-size:14px">Learn to record, edit and share your screen using Camtasia.</span>
                                                        </p></div>
                                                    </div>
                                                </a>
                                            </section>
                                        </div>
                                        <div class="column-block hotshot-wrapper centered-style-wrapper">


                                            <section class="hotshot content-popup  camtasia-theme">


                                                <a href="https://www.techsmith.com/tutorial-camtasia-transitions-annotations-behaviors.html"
                                                   class="hotshot-link">


                                                    <div class="image-wrapper">
                                                        <img src="https://assets.techsmith.com/Images/content/ua-tutorials-camtasia-9-3/hotshot-transitions1x1.png"
                                                             alt="Camtasia UI showing a transitions on the timeline"
                                                             title=""/>
                                                    </div>


                                                    <div class="inner-wrapper">

                                                        <div class="headline-wrapper"><p><span
                                                                style="font-size:14px"><strong>Register &amp;&nbsp;Login</strong></span>
                                                        </p>

                                                            <p><span style="font-size:12px">VIDEO 2 of 5 - (6:16)</span>
                                                            </p>
                                                        </div>
                                                        <div class="copy-wrapper"><p><span style="font-size:14px">Learn to make eye catching videos using transitions, annotations, and behaviors.</span>
                                                        </p></div>

                                                    </div>
                                                </a>

                                            </section>
                                        </div>
                                        <div class="column-block hotshot-wrapper centered-style-wrapper">


                                            <section class="hotshot content-popup  camtasia-theme">


                                                <a href="https://www.techsmith.com/tutorial-camtasia-animations-effects.html"
                                                   class="hotshot-link">


                                                    <div class="image-wrapper">
                                                        <img src="https://assets.techsmith.com/Images/content/ua-tutorials-camtasia-9-3/hotshot-animations1x1.png"
                                                             alt="Camtasia timeline with an animation on a clip"
                                                             title=""/>
                                                    </div>


                                                    <div class="inner-wrapper">

                                                        <div class="headline-wrapper"><p><span
                                                                style="font-size:14px"><strong>Dashboard &amp; Introduction</strong></span>
                                                        </p>

                                                            <p><span style="font-size:12px">VIDEO 3 of 5 - (4:29)</span>
                                                            </p>
                                                        </div>
                                                        <div class="copy-wrapper"><p><span style="font-size:14px">Learn to add animations and effects that guide and focus viewers' attention.</span>
                                                        </p></div>

                                                    </div>
                                                </a>

                                            </section>
                                        </div>
                                        <div class="column-block hotshot-wrapper centered-style-wrapper">


                                            <section class="hotshot content-popup  camtasia-theme">


                                                <a href="https://www.techsmith.com/tutorial-camtasia-editing-audio.html"
                                                   class="hotshot-link">


                                                    <div class="image-wrapper">
                                                        <img src="https://assets.techsmith.com/Images/content/ua-tutorials-camtasia-9-3/hotshot-audio1x1.png"
                                                             alt="Camtasia timeline showing a track with waveforms"
                                                             title=""/>
                                                    </div>


                                                    <div class="inner-wrapper">

                                                        <div class="headline-wrapper"><p><span
                                                                style="font-size:14px"><strong>Preparing CSV</strong></span>
                                                        </p>

                                                            <p><span style="font-size:12px">VIDEO 4 of 5 - (3:56)</span>
                                                            </p>
                                                        </div>
                                                        <div class="copy-wrapper"><p><span style="font-size:14px">Learn simple but effective audio editing techniques.</span>
                                                        </p></div>

                                                    </div>
                                                </a>

                                            </section>
                                        </div>
                                        <div class="column-block hotshot-wrapper centered-style-wrapper">


                                            <section class="hotshot content-popup  camtasia-theme">


                                                <a href="https://www.techsmith.com/tutorial-camtasia-produce-share.html"
                                                   class="hotshot-link">


                                                    <div class="image-wrapper">
                                                        <img src="https://assets.techsmith.com/Images/content/ua-tutorials-camtasia-9-3/hotshot-produce1x1.png"
                                                             alt="Camtasia share button" title=""/>
                                                    </div>


                                                    <div class="inner-wrapper">

                                                        <div class="headline-wrapper"><p><strong><span
                                                                style="font-size:14px">How to file &amp; upload</span></strong>
                                                        </p>

                                                            <p><span style="font-size:12px">VIDEO 5 of 5 - (3:14)</span>
                                                            </p>
                                                        </div>
                                                        <div class="copy-wrapper"><p><span style="font-size:14px">Finish your project by producing, archiving, and sharing.</span>
                                                        </p></div>

                                                    </div>
                                                </a>

                                            </section>
                                        </div>
                                    </div> -->
                                    <!-- .column-block-wrapper -->
                                </section><!-- .region -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
