<div class="header_color">
  <app-header [header]="headertype"></app-header>
</div>
<div class="container">
  <div class="row">
    <div id="form_container" class="col-md-12 col-sm-12 col-xs-12 mainBodyExam" *ngIf="flagTest">
      <h1 class="title">Questionnaire</h1>
      <!-- <div *ngFor="let item of examData let selecteIndex = index"> -->
      <div>
        <h2 class="quesH2"> {{questionId}}. {{questions}}</h2>
        <div class="ansBox">
          <span>  
              <mat-radio-group [(ngModel)]="radioSelected">
                <mat-radio-button *ngFor="let items of questionOption let i = index" value = "{{i}}"> {{items}}</mat-radio-button>
                
                <!-- <input type="radio" value="1" [checked]="model.ForeignCompany.ProfitCode === 1"
                id="point1" (change)="onProfitSelectionChange(1)" name="ProfitCode"> -->
               
              </mat-radio-group>
          </span>
        </div>

      </div>
      <div>
        <button  class="btn btn-primary" (click)="quesId && prevClick()" type="button">Previous</button>
        <button *ngIf="terminateTest && quesId < terminateTest - 1 ; else submitbutton " class="btn btn-primary" (click)="nextClick(i)" type="button">Next</button>
        <ng-template #submitbutton>
            <button class="btn btn-success" (click)="submitTest()" type="button">Submit Test</button>
        </ng-template>
      </div>

    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 mainBodyExam" *ngIf="flagResult">
      <h1 class="title">Result</h1>
      <h2>{{showResult.status}}</h2>
      <a routerLink="/dashboard">Back to Course</a>
    </div>

  </div>
</div>