<div class="container_content clearfix">
    <div class="bannerbox clearfix">
        <app-header [header]="headertype"></app-header>
    </div>
    <div class="main container">
        <h3 class="font1">Join the largest community of
            <br>Video learners today</h3>
        <h6 class="font2">Anytime and Anywhere, on Any Device</h6>
        <button class="btn_new">Start Learning Now</button>
    </div>
</div>
<div class="footer">
    © Skill Lotto Solutions Pvt Ltd. All Rights Reserved.
</div>


