<div class="container_content clearfix">
    <div class="bannerbox clearfix">
        <app-header [header]="headertype"></app-header>
    </div>
    <div class="main container">
        <h3 class="font1">Join the largest community of
            <br>Video learners today</h3>
        <h6 class="font2">Anytime and Anywhere, on Any Device</h6>
        <button class="btn_new">Start Learning Now</button>
    </div>
</div>
<div class="footer">
    © Skill Lotto Solutions Pvt Ltd. All Rights Reserved.
</div>
<div class="footbox clearfix">
    <div class="box clearfix">
        <li>
            <div class="icon">t</div>
            <div class="">@VideoLearning</div>
        </li>
        <li>
            <div class="icon">f</div>
            <div class="">/VideoLearning</div>
        </li>
        <li>
            <div class="icon">g+</div>
            <div class="">/VideoLearning</div>
        </li>

    </div>

</div>

<!-- <footer class="bd-footer text-muted">
    <div class="container-fluid p-3 p-md-5">

    </div>

</footer> -->