<div class="container_content clearfix">
    <div class="bannerbox clearfix">
        <app-header [header]="headertype"></app-header>
    </div>
    <div class="main container">
        <h3 class="font1">Join the largest community of
            <br>Video learners today</h3>
        <h6 class="font2">Anytime and Anywhere, on Any Device</h6>
        <button class="btn_new">Start Learning Now</button>
    </div>
</div>
<div class="middle clearfix">
    <div class="container wrap clearfix">
        <div class="middle_box">
            <div class="icon_gst">
                <img class="logo-img" src="/../../assets/img/gst1.png" alt="Logo">
            </div>
            <h6 class="box_title">GST KNOWLEDGE</h6>
            <div class="gst_content">
                <p>Knowledge is understanding of facts , information, descriptions and skills. So increase your knowledge with
                    Education acquired with experience.</p>
                <button _ngcontent-c2="" class="btn_test">Take This Course</button>
            </div>
        </div>
        <div class="middle_box">
            <div class="icon_gst">
                <img class="logo-img" src="/../../assets/img/gst2.png" alt="Logo">
            </div>
            <h6 class="box_title">LEARN &GROW</h6>
            <div class="gst_content">
                <p>Grow while learning with each module. Have an in-depth knowledge of Accounting and GST Returns with our Training
                    Modules and Questionnaires.</p>
                <button _ngcontent-c2="" class="btn_test">Take This Course</button>
            </div>

        </div>
        <div class="middle_box">
            <div class="icon_gst">
                <img class="logo-img" src="/../../assets/img/gst3.png" alt="Logo">
            </div>
            <h6 class="box_title">CERTIFICATION</h6>
            <div class="gst_content">
                <p>Learn & Get Certified for free with our Online Courses. Enroll Now. </p><br>
                <br>
                <button _ngcontent-c2="" class="btn_test">Take This Course</button>
            </div>

        </div>
    </div>
</div>
<div class="footer">
    © Skill Lotto Solutions Pvt Ltd. All Rights Reserved.
</div>
<div class="footbox clearfix">
    <div class="box clearfix">
        <div class="full_width clearfix">
            <div class="icon">
                <img class="logo-img" src="/../../assets/img/icon_twitter.png" alt="Logo">
            </div>
            <div class="box_content">@VideoLearning</div>
        </div>
        <div class="full_width clearfix">
            <div class="icon">
                <img class="logo-img" src="/../../assets/img/icon_facebook.png" alt="Logo">
            </div>
            <div class="box_content">/VideoLearning</div>
        </div>
        <div class="full_width clearfix">
            <div class="icon">
                <img class="logo-img" src="/../../assets/img/icon_google.png" alt="Logo">
            </div>
            <div class="box_content">/VideoLearning</div>
        </div>
    </div>
    <div class="box">
        <ul>
            <li>Home</li>
            <li>Features</li>
            <li>Course</li>
            <li>Blog</li>
            <li>Contact</li>
            <li>Terms of Use</li>
            <li>FAQ</li>
        </ul>
    </div>
    <div class="box top_padding">
        <h3>VideoLearn Pvt. Ltd.</h3>
        <p>A-38, Udyog Vihar Phase 1, Gurugram, Haryana India</p>
        <button class="mail_btn">Email Us</button>
    </div>
</div>