<app-header></app-header>
<!-- Taking Email id and username to verify user (1)-->
<div class="card width460 clearfix" *ngIf="firstStepPassword">
  <h3 class="title">Forgot Password</h3>
  <form class="form">
    <ul>
      <li>
        <label>Username</label>
        <input type="text" name='uname' class="table-input" #loginnames="ngModel" [(ngModel)]="model.loginname" required>
      </li>
      <li>
        <label>Email</label>
        <input type="text" name='uname' class="table-input" #emails="ngModel" [(ngModel)]="model.email" required>
      </li>
      <li>
        <a href="#">
          <button (click)="firstStepPasswordFunc()" class="submit">Submit</button>
        </a>
      </li>
    </ul>
  </form>
</div>

<!--Verify OTP (2)-->
<div class="card width460 clearfix" *ngIf="secondStepPassword">
  <h3 class="title">Enter OTP sent to your mail</h3>
  <form class="form">
    <ul>
      <li>
        <label>Username</label>
        <input type="text" [disabled]=true name='uname' class="table-input" #loginnames="ngModel" [(ngModel)]="model.loginname">
      </li>
      <li>
        <label>OTP</label>
        <input type="text" name='userotp' class="table-input" #otps="ngModel" [(ngModel)]="model.otp" required>
      </li>
      <li>
        <a href="#">
          <button (click)="secondStepPasswordFunc()" class="submit">Submit</button>
        </a>
      </li>
    </ul>
  </form>
</div>

<!-- Provide new password (3) -->
<div class="card width460 clearfix" *ngIf="thirdStepPassword">
  <h3 class="title">Enter New password</h3>
  <form class="form">
    <ul>
      <li>
        <label>Username</label>
        <input type="text" [disabled]=true name='uname' class="table-input" #loginnames="ngModel" [(ngModel)]="model.loginname" required>
      </li>
      <li>
        <label>New Password</label>
        <input type="password" name='newpwd' #newpwds="ngModel" [(ngModel)]="model.newpwd" class="table-input" placeholder="Password should be minimum of 8 characters"
          (blur)="newPassFunc(newpwd)" required>
      </li>
      <li>
        <label>Confirm Password</label>
        <input type="password" name='confirmpwd' #confirmpwds="ngModel" [(ngModel)]="model.confirmpwd" class="table-input" placeholder="Confirm Password"
          (keyup)="confirmpasswordFunc(confirmpwd)" required>
      </li>
      <li>
        <a href="#">
          <button (click)="thirdStepPasswordFunc()" class="submit">Submit</button>
        </a>
      </li>
    </ul>
  </form>
</div>
<!-- Thanku Message -->
<div class="card width415 clearfix" *ngIf="thankumessage">
    <h3 class="title">Thank You</h3>
    <p class="para">Your Password has been changed Sucessfully.<br>
    <a routerLink="/login" routerLinkActive="active">Click Here to Login </a></p>
</div>


<app-footer></app-footer>